<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="body">
    <div id="files">
        <input type="hidden" th:name="|completedSurveyItems[${item.index}].value|" v-model="value" />
        <input type="hidden" th:name="|completedSurveyItems[${item.index}].filesResponse|" value="true" />
        <div v-for="fileInput in fileInputs" class="row" style="margin-top: 5px">
          <div class="col-md-8">
            <div class="input-group">
              <input type="file" th:name="|completedSurveyItems[${item.index}].files|" class="form-control"></input>
              <span class="input-group-btn">
              <button type="button" class="btn btn-default js-delete-file" v-on:click="removeFileInput(fileInput.id)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
            </span>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 5px">
          <div class="col-md-8">
            <button type="button" class="btn btn-default pull-right js-add-file" v-on:click="addFileInput">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div v-for="fileUrl in files" class="col-xs-6 col-md-3">
            <div class="thumbnail">
              <input type="hidden" th:name="|completedSurveyItems[${item.index}].validValues|" v-bind:value="fileUrl" />
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" v-on:click="deleteFile(fileUrl)">
                <span aria-hidden="true">&times;</span>
              </button>
              <img v-bind:src="'https://storage.googleapis.com/myster/' + fileUrl" />
            </div>
          </div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

      jQuery(document).ready(function() {
          var app = new Vue({
            el: '#files',
            data: {
              idGenerator: 1,
              value: /*[[${item.value}]]*/,
              fileInputs: [{id: 0}],
              files: /*[[${item.files}]]*/
            },
            methods: {
              findIndexById: function(id) {
                for (var i = 0; i < this.fileInputs.length; i++) {
                  if (this.fileInputs[i].id == id) {
                    return i;
                  }
                }
                return null;
              },
              addFileInput: function () {
                this.fileInputs.push({id: this.idGenerator++});
              },
              removeFileInput: function (id) {
                var index = this.findIndexById(id);
                if (index) {
                  this.fileInputs.splice(index, 1);
                }
              },
              findFileByUrl: function(url) {
                for (var i = 0; i < this.files.length; i++) {
                  if (this.files[i] == url) {
                    return i;
                  }
                }
                return null;
              },
              deleteFile: function (url) {
                var index = this.findFileByUrl(url);
                this.files.splice(index, 1);
              }
            }
          });
      });

    /*]]>*/
    </script>
  </div>
</body>
</html>